.header-container::after {
  height: 700px;
  content: ' ';
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  z-index: -50;
  background-image: url('../../../assets/images/headerbg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  margin-bottom: 150px;
}

.header-container h1 {
  font-family: 'Yeseva One', cursive;
  color: #0d052e;
  font-size: 60px;
}

@media (max-width: 768px) {
  .header-container::after {
    height: 1100px;
  }
}

@media (max-width: 576px) {
  .header-container::after {
    height: 800px;
  }
}
